$primary-color:rgb(0, 204, 102);
$font-weight:700px;
$line-height:77px;

@mixin button{
    background-color: $primary-color;
        color: white;
        border-radius: 5px;
        border: none;
        width: 90px;
        height: 35px;
}